[Unit]
Description=Sway Screenshot Daemon
After=sway-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/desktop/sway-screenshot daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=sway-session.target
